  .botao {
    position: fixed;
    bottom: 20px;
    left: 20px;
  
    background-color: #c425d3;
    color: rgb(91, 208, 212);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .botao:hover {
    transform: scale(1.05);
  }